<mat-card class="padded-card">
  <mat-card-header>
    <div mat-card-avatar class="profile-header-image"></div>
    <mat-card-title>Víctor Macías</mat-card-title>
    <mat-card-subtitle>🇲🇽 GDL, MX. Pa servirle a Dios y a usté</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Currently Head of Engineering @<a href="https://www.billpocket.com">Billpocket</a>. Usually coding in Java/Kotlin for Android.
    </p>
    <p>
      Not a web dev by any means
    </p>
    <p>
      <a href="https://about.alefy.xyz">Alefy</a> writes some neat stuff too! :D
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" (click)="openURL('https://github.com/vicmac')">ON GITHUB</button>
    <button mat-button color="primary" (click)="openURL('https://linkedin.com/in/vmaciasag')">ON LINKEDIN</button>
  </mat-card-actions>
</mat-card>
